:root {
  --primary: #06d6a0;
  --secondary: #aa8dff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face{
  font-family: 'Gotham Pro';
  font-display:block;
  src:url('./GothaProReg.otf')
}

body {
  background-color: #121212;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: Gotham Pro;
}

.row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 50px;
}

.p-introduction {
  align-self: center;
  line-height: 1.2;
  padding: 0 0 0 40px;
}

.p-introduction h1 {
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: calc(32px + 2*(100vw - 420px)/1600);
}

.p-introduction p {
  color: var(--primary);
  font-weight: bold;
}
.github-account {
  margin:20px;
  }
#github-img {
  fill: white;
  float: right;
  margin-right: 10%;
}

.p-picture {
  height: 100%;
  width: 100%;
  position: relative;
}
.img{
background-attachment: unset;
  background-size: 100% 100%;
  width: 100%;
  z-index: -1;
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 1deg);
  transform-origin: center right;
}
.p-picture:after {
  content: "";
  background-image: linear-gradient(270deg,
      rgba(36, 41, 46, 0) 0%,
      #121212 90%);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: 1;
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 1deg);
  transform-origin: center right;
}

.divider h1 {
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

.skills {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: center;
  margin: 0 16px;
  margin-bottom: 50px;
}

.card {
  height: 10vh;
  margin: 25px;
  padding: 0 25px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 8px;
  transition: box-shadow 0.5s linear;
}

.card:hover {
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.6);
}

.card h2{
  align-self: center;
  color: var(--primary);
  margin: 5px;
  font-size: 1.17em;
}
.icon{
  font-size:24px;
}
.soon h1 {
  color: white;
  text-align: center;
  padding: 10px 0;
}
.projects{
  max-width: 980px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-auto-rows: minmax(40px, auto);
  justify-content: center;	
}
.p1 { grid-row-end: span 2; }
.p2 { grid-row-end: span 1; }
.p3 { grid-row-end: span 2; }
.p4 { grid-row-end: span 3; }
.p5 { grid-row-end: span 2; }
.p6 { grid-row-end: span 1; }
.p7 { grid-row-end: span 2; }
.p8 { grid-row-end: span 3; }
.p9 { grid-row-end: span 2; }
.p10 { grid-row-end: span 1; }
.p11 { grid-row-end: span 2; }
.p12 { grid-row-end: span 3; }
.p13 { grid-row-end: span 2; }

.projects .box{
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  border-radius:8px ;
  transition: background-color 0.5s linear;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.6);
  justify-content: space-around;
} 
.box p{
  line-height: 1.5;
  color: #fff;
}
.projects a{
  align-self: flex-end;
  text-decoration: none;
  color: #aa8dff;
  transition: color .4s linear;
}
.projects a:hover{
  color: #0062d2;
}
.projects .box h2{
  margin: 5px 0;
  font-size: 1.17em;
  color: var(--primary);
}
footer{
  margin-top: 20px;
  text-align: center;
  padding: 15px 0;
  background-color: #aa8dff;
  color: #fff;
}
.footer-p{
  font-weight: bold;
}
@media only screen and (max-width: 1000px) {

  .row {
    display: block;
    height: 100
    .projects .box:hover{
      background-color: white;
    }vh;
  }

  .skills {
    display: flex !important;
    flex-wrap: wrap;
  padding: 0 10px;
  justify-content: center;
  margin: 0 16px; 
  }

  .p-introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0 0 40px;
    z-index: 2;
  }

  .p-introduction h1 {
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: calc(32px + 2*(100vw - 420px)/830);
    text-align: center;
  }

  .p-introduction p {
    color: var(--primary);
    font-weight: bold;
    text-align: center;
  }

  .github-account {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 500%);
    margin: 0;
  }

  #github-img {
    fill: white;
    transition: fill .4s linear;
  }
  #github-img:hover{
    fill:var(--primary);
  }
  .p-picture {
  height: 100%;
  width: 100%;
  position: relative;
}
.img{
background-attachment: fixed;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform: none;
  transform:none;
  transform-origin: center right;
}
.img:after {
  content: "";
  background-image: linear-gradient(180deg,
      rgba(36, 41, 46, 0) 0%,
      #121212 100%);
  width: 100%;
  height: calc(100% + 10px);
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: 1;
}
}